/*

Jake Bedard
jadrn007
Red ID 818121974

*/

*{
	padding: 0;
	margin: 0;
}

i{
	color: white;
	padding-top:0px;
	padding-bottom:0px;
}

.cart-item-name{
	padding-top: 10px;
	margin-top: 10px;
	display: inline;
}

.right{
	float: right;
}
.left{
	float: left;
	padding: 0px;
	margin: 0px;
}

#srv-cont .align-self-end:hover{
    background-color: #fcfcfc;
}

.aligned-row {
  display: flex;
  flex-flow: row wrap;

  &::before {
    display: block;
  }
}

.left{
	float: left;
}

#btn-checkout{
	padding-top: 5px;
	margin-top: 5px;
}

.inline{
	display:inline;	
	padding: 0px;
	margin: 0px;
	
}

.center{
	text-align: center;
}

.atc .btn .btn-success .btn-sm{
	color: white;
	border: 0px;
	outline:none;

}
#cart-ui{
	color: white;
	padding-right: 30px;
}
#counter{
	color: white;
	display: inline;
}

form{
	padding-top: 30px;
	margin: auto;
	width: 800px;
}

.navbar-dark{
	background-color: #3d1e0d;
}

.nav li{
  display: inline;
}


#cart-ui .btn-secondary{
	background-color: white !important;
	color: #3d1e0d !important;
}

.main-cont{
	padding: 0;
	margin: 0;
}

#sdbr{
	padding-top: 0px;
	padding-left: 20px;
}

.sdbr-link{
	padding-left: 20px;
	color: black;
}

.top-link{
	padding-top: 20px;
}

#srv-cont, #mn{
	padding-top: 5px;
	
}

.btn-sm{
	padding-left: 10px;
	margin-left: 10px;
}
.nav-link{
	color: black;
}

#error{
	color: #dc3545;
}

#submit-button{
	margin-bottom: 20px;
	width: 200px;
}

#submit-button:hover{
	cursor: pointer;
}
#rmv:hover{
	cursor: pointer;
}

#bottom-submit{
	margin: 10px;
	margin-top: 20px;
}
.text-center{
	text-align: center;
}

.submit{
	padding: 20px;
	text-align: center;
}

.radio-title{
	display: block;
}

#phone-email-labels .form-group{
	margin-bottom: 0px;
}

.no-bottom{
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#form-title{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
.red{
	color:#dc3545;
}

.navbar-brand{
	font-size: 250% !important;
	font-family: betty !important;
	padding: 0px !important;
	margin: 0px !important;
}

.navbar{
	padding: 0px 30px 0px 30px !important;
}

.prod{
	text-align: center;
}

.feature{
 cursor: pointer;
}

footer{
	background-color:  #3d1e0d;
	max-height: 50px;
	height: 50px;
}

.feature img{
	width: 100%;
}

#logo{
	font-family: betty;
	font-size: 250%;
	color: white;
	text-align: center;
}

#main{
	font-family: santa;
	font-size: 500%;
	text-align: center;
	color: white;
}

#main2{
	color: white;
	text-align: center;
}

h2{
	padding: 10px;
}

.row{
	padding: 0px 0px 20px 0px;
}

.col-lg-4{
	text-align: center;
}

#center{
	border-color: black;
	border-style: solid;
	border-width: 0px 2px 0px 2px;
}
.jumbotron {
padding-top: 10px;
margin-top: 14px;
background-image: url("images/chocolate-edit.jpg");
background-size: cover;
height: 300px;
background: no-repeat center center cover;

}


#cta{
	background-color: #343a40;
	color: #fff;
	text-align: center;
	padding: 40px;
}

@media screen and (max-width: 600px) {
	.jumbotron{
		background-image: url("images/chocolate-edit.jpg");
	}

	.jumbotron h1{
		color: white
	}

	.jumbotron p{
		font-weight: 900;
	}

	#center{
		border-style: none;
	}
	
}

@font-face{
	font-family: 'league-gothic';
	src: url(images/League-Gothic/LeagueGothic-Regular.otf);
}
@font-face{
	font-family: 'betty';
	src: url(images/BettyRegular.ttf);
}

@font-face{
	font-family: 'santa';
	src: url(images/SantaBold.ttf);
}
